body {
    font-family: Arial;
    background-color: #222222;
    color: #ffffff;
    padding: 5px;
    margin: 0;
}

.title_page {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 30px;
}

.inner {
    display: grid;
    grid-gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
}

.card {
    text-align: center;
    padding: 15px;
    border: 1px solid #969696;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 24px;
    margin-bottom: 15px;
}

.price {
    font-size: 22px;
    margin-bottom: 10px;
}

.pl {
    color: red;
    font-weight: 600;
}

.date {
    font-size: 20px;
}

.total,
.totalr {
    margin: 30px 0;
    text-align: center;
    font-size: 48px;
    font-weight: 500;
}

@media (max-width: 767px) {
    .inner {
        grid-template-columns: repeat(auto-fit, minmax(140px, 180px));
        grid-gap: 10px;
    }
    .title_page {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .card {
        padding: 10px;
        border-radius: 5px;
    }
    .title {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .price {
        font-size: 14px;
    }
    .date {
        font-size: 14px;
    }
    .total {
        font-size: 24px;
    }
}
